<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Listado de Post</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar Post</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Autor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page }">
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.author }}</td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button routerLink="/edit/{{post.id}}" type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>